@import "tailwindcss";

:root {
  --background: #F0F5F2;
  --foreground: #171717;
  --hero-color-1: #98688e;
  --hero-color-2: #d3a58e;
  --hover-color: #45CFFF;
  --highlighted-description-color:#9a6a90; 
  --menu-button-color: #dfccd9;
  --navbar-height: 2rem;
}

@theme inline {
  /* fonts */
  --font-playfair: var(--font-playfairDisplayItalic);
  --font-roboto: var(--font-roboto);

  --height-navbar: var(--navbar-height);
  --padding-hero : var(--navbar-height);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-hero-1: var(--hero-color-1);
  --color-hero-2: var(--hero-color-2);
  --color-menu-button: var(--menu-button-color);
  --color-hover: var(--hover-color);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), sans-serif;
  overflow-x: hidden;
}

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 150.5%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  overscroll-behavior: contain;
}

* {
  transition: all .2s ease-in-out;
}

a {
  all: unset;
}


ul,
ol,
li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-playfairDisplayItalic), sans-serif;
}
